# primary files
citra.py
errorlog.txt
seed.txt
settings.json
bagitems.json
citra-updater backup.py
trackerdata.json

# pycache files
__pycache__/*
util/__pycache__/*
util\__pycache__\*

# archive files
archive/*

# upcoming update files
util/logreader test.py
util/Gen_6_Curve_Testing_-_Trainer_Mappings.csv
util/PokemonLevelRateTesting-Gen6.py
util/kaizo260.log
