# primary files
citra.py
errorlog.txt
seed.txt
settings.json
trackerdata.json
bagitems.json

# pycache files
__pycache__/*
util/__pycache__/*
util\__pycache__\*

# archive files
archive/*

# upcoming update files
# util/logreader.py
util/Gen_6_Curve_Testing_-_Trainer_Mappings.csv
util/PokemonLevelRateTesting-Gen6.py
# util/kaizo260.log
