# primary files
citra.py
errorlog.txt
seed.txt
settings.txt
trackerdata.json

# utilities
util/notesclearkcb.py

# pycache files
__pycache__/citra.cpython-312.pyc
util/__pycache__/gitcheck.cpython-312.pyc
util/__pycache__/notesclear.cpython-312.pyc
util/__pycache__/notesclearkcb.cpython-312.pyc
util/__pycache__/settings.cpython-312.pyc

# archive files
archive/*